@page
@{
}


<div class="text-center">
    <div style="text-align:left"><h1 style="margin-top:25px; font-size:25px;">CONTATO</h1></div>
    <div style="text-align: left" >
        @if(!string.IsNullOrEmpty(ViewBag.Message)){
        <span>@ViewBag.Message</span>
    }
    </div>
    
</div><br>

<form asp-action="SendEmail" asp-controller="Home" method="POST">
    <div class="form-group">
        <label>Nome</label>
        <input type="text" name="NameContact" class="form-control" value="@ViewBag.NameContact">
        @if(!string.IsNullOrEmpty(ViewBag.ErroNome)){
            <span>@ViewBag.ErroNome</span>
        }
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" name="EmailContact" class="form-control" value="@ViewBag.EmailContact">
        @if(!string.IsNullOrEmpty(ViewBag.ErroEmail)){
            <span>@ViewBag.ErroEmail</span>
        }
    </div>
    <div class="form-group">
        <label>Telefone</label>
        <input type="text" name="PhoneContact" class="form-control" value="@ViewBag.PhoneContact">
        @if(!string.IsNullOrEmpty(ViewBag.ErroPhone)){
            <span>@ViewBag.ErroPhone</span>
        }
    </div>
    <div class="form-group">
        <label>Assunto</label>
        <input type="text" name="SubjectContact" class="form-control" value="@ViewBag.SubjectContact">
        @if(!string.IsNullOrEmpty(ViewBag.ErroSubject)){
            <span>@ViewBag.ErroSubject</span>
        }
    </div>
    <button class="btn btn-info">Enviar</button>
</form>