@model IEnumerable<JeffSite.Models.SocialMidia>
@{
    Layout = "_LayoutAdmin";
}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">@Html.DisplayNameFor(Model => Model.Name)</th>
      <th scope="col">@Html.DisplayNameFor(Model => Model.Url)</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var item in Model)
      {
          <tr>
            <th scope="row">
                @Html.ActionLink("Edit", "Edit", new { email = item.Name })
                    @Html.Label(" | ")
                    @Html.ActionLink("Delete", "Delete", new { email = item.Name })
            </th>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Url)</td>
        </tr>
      }
  </tbody>
</table>